[help]
	autocorrect = 1
[alias]
	recap = log --since="00:00:00" --no-merges --oneline
[user]
    # Note for the Next Dev: Please change this info!
    # No need to blame someone else!
	name = Atef Ben Ali
	email = atef.bettaib@gmail.com
[core]
	pager = ~/diff-so-fancy | less --tabs=4 -RFX
	autocrlf = true
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	markEmptyLines = false
[gc]
	auto = 0
